@use "breakpoints" as *;
@use "fonts" as *;
@use "scrollTrigger" as *;
@use "../projects/reveal/reveal" as *;
// @import "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css";

// ————————————————————————————————————o————————————————————————————————————o Masters at Work: RWW vs MR -->
// ————————————————————————————————————o Masters at Work -->
// ————————————————————————————————————o————————————————————————————————————o Masters at Work: RWW vs MR -->

// ————————————————————————————————————o Color Schemimng -->
// Color Scheming
// Aspirin C: https://color.adobe.com/Aspirin-C-color-theme-20014665
//
//

// ————————————————————————————————————o————————————————————————————————————o Meat and Potatos -->
// ————————————————————————————————————o Meat and Potatos -->
//
html {
    font-size: 16px;
}

body {
    margin: 0;
    color: #f2ffe3;
    background-color: #225378;

    * {
        box-sizing: border-box;
    }
}

img {
    display: block;
    width: 100%;
}

a {
    padding-bottom: 2px;
    color: #acf0f2;
    text-decoration: none;
    border-bottom: 1px solid #acf0f2;
}

// ————————————————————————————————————o————————————————————————————————————o Homepage -->
// ————————————————————————————————————o Homepage -->
//
.home {
    margin: 10%;

    section {
        margin-bottom: 50px;
        padding-bottom: 50px;
        border-bottom: 1px solid #f2ffe3;
    }

    h1 {
        font-weight: 100;
    }

    .tagline {
        font-weight: 300;
        font-style: italic;
    }

    .hero {
        margin-bottom: 50px;
    }
}

// ————————————————————————————————————o————————————————————————————————————o Horizontal Snapping -->
// ————————————————————————————————————o Horizontal Snapping -->
//
.horizontal-snapping {
    // section {
    //     display: flex;
    //     height: 100vh;
    //     width: 100%;
    // }

    // .container {
    //     height: 100vh;
    // }

    .panel {
        width: 100vw;
        height: 100vh;
        position: sticky;
        top: 0;

        &.black {
            background-color: black;
        }
    }

    .bg-img-fit {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.4;
    }

    .video {
        &--live-station {
            video {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .copy {
        position: absolute;
        color: white;

        h1 {
            margin-bottom: 30px;
        }

        p {
            width: 80%;
            margin: auto;
        }
    }
}

// ————————————————————————————————————o————————————————————————————————————o Light Touch -->
// ————————————————————————————————————o Light Touch -->
//

.light-touch {
    .container {
        display: block;
        height: 100vh;
        width: 100%;
    }
    .panel {
        width: 100vw;
        height: 100vh;
        position: sticky;
        top: 0;

        &.black {
            background-color: black;
        }
    }

    .bg-img-fit {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.4;
    }

    .video {
        &--live-station {
            video {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .copy {
        position: absolute;
        color: white;

        h1 {
            margin-bottom: 30px;
        }

        p {
            width: 80%;
            margin: auto;
        }
    }
}
