.reveal {
    padding: 0 10px;
    padding-top: 60px;

    h1 {
        margin-bottom: 30px;
    }

    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }

    .ipsType_right {
        text-align: right;
    }

    .ipsType_center {
        text-align: center;
    }

    .cInnerContent {
        max-width: 1240px;
        margin-left: auto;
        margin-right: auto;
    }

    .ipsSpacer_bottom_double {
        margin-bottom: 150px;
    }

    .ipsGrid {
        display: inline-block;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
    }

    .ipsGrid::before,
    .ipsGrid::after {
        display: table;
        content: "";
        line-height: 0;
    }

    .ipsGrid > [class*="ipsGrid_span"] {
        display: block;
        width: 100%;
        min-height: 30px;
        box-sizing: border-box;
    }

    .ipsGrid > .ipsGrid_span5 {
        width: 40.42553191489362%;
    }

    .ipsGrid > .ipsGrid_span7 {
        width: 57.44680851063829%;
    }

    .ipsGrid > [class*="ipsGrid_span"] {
        float: left;
        margin-left: 2%;
    }

    .ipsGrid > [class*="ipsGrid_span"]:first-child {
        margin-left: 0;
    }

    .ipsType_left,
    .ipsType_right {
        max-width: 500px;
    }


    .feature {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card {
        margin-bottom: 30px;
        // overflow: hidden;

        &--video {
            aspect-ratio: 480 / 720;
            overflow: hidden;

            video {
                object-fit: cover;
                // object-position: center center;
            }
        }
    }

    .featured-image-container .card {
        padding: 10px;
        // height: 0;
        // padding-bottom: calc(100% - 10px);
    }

    h2.heading_large {
        font-size: 1.8em;
    }

    h3 {
        font-size: 1.5rem;
    }

    h5 {
        font-weight: 300;
        line-height: 1.4rem;
    }

    p {
        font-size: 1.1rem;
    }

    .sub {
        font-size: 0.8rem;
    }

    img {
        max-width: 100%;
    }

    .header-section {
        margin: 200px auto;
    }

    .gs_reveal {
        opacity: 0;
        visibility: hidden;
        will-change: transform, opacity;
    }
}
